*{
    margin: 0%; padding: 0%; box-sizing: border-box;
}
.nav-item a{color: #fff!important;}

.header{
	width: 100%;
	height: 80vh;
	background-image: url('https://source.unsplash.com/1600x900/?web-designing,computer-software,website-development,software-development');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 90% , 50% 100% , 0% 90%, 0 0);
	position: relative;
}


 .header-section{
	background-color: rgba(0,0,0,0.3)!important;
	width: 100%;
	/* height: inherit; */
	color :white;
	position: relative;
	text-align: center;
} 

.center-div{
width: 100%;
height:auto;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

.center-div p{
	color: #bfbdbd;
}

.teaminfo{
box-shadow: 0 0 15px 0 #0516ff;
margin-left:auto;
margin-right:auto;
background:linear-gradient(160deg, #b7e2f7 50%, #2ad1b8 60%);
border-radius:7px;
}

.teaminfo:hover{
    box-shadow: box-shadow: 0 0 20px 0 #000;
	transform:translateY(-10px);
	transition:0.5s;
}

.exp{
	box-shadow: 0 0 7px 0 #2cf5e1;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	/* background: linear-gradient(90deg, rgba(8,0,145,1) 0%, rgba(21,138,237,1) 100%, rgba(255,28,0,1) 100%, rgba(0,212,255,1) 100%); */
	border-radius:30px;
}
.exp:hover{
	transform:translateY(-10px);
	transition:0.5s;
}

.exp a{
	background:#dfe6e9!important;
	/* border:1px solid cyan; */
	border-radius:100px;
	margin: 0 5px;
	padding:3px 20px;
	/* color:#fff; */
	text-decoration:none;
	outline:none;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.4;
    text-align: center;
}
.exp a:hover{
	background:#4d75f7!important;
	color:#fff;
	box-shadow: box-shadow: 0 0 20px 0 #000;
}

