@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Texturina', serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.header {
  width: 100%;
  height: 80vh;
  background-image: url("https://source.unsplash.com/1600x900/?web-designing,computer-software,website-development,software-development");
  -webkit-clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
          clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7vh;
  outline: none;
}

.header .nav .nav-title h2 {
  margin: 10px 0 0 70px;
  color: aliceblue;
  -webkit-animation: heart 1s linear infinite;
          animation: heart 1s linear infinite;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  37.5% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  62.5% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  83.5% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  37.5% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  62.5% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  83.5% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header .nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 70px 0 0;
  font-weight: bold;
  color: aliceblue;
}

.header .nav ul li {
  margin: 0 20px 0 0;
}

.header .header-part {
  height: 80vh;
  position: relative;
}

.header .header-part .header-text {
  background: transparent;
  mix-blend-mode: multiply;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header .header-part .header-text h1 {
  font-size: 50px;
}

.header .header-part .header-text h4 {
  font-weight: bold;
}

.exps {
  margin: 110px 0 70px 0;
  height: 120%;
  width: 100%;
}

.exps h2 {
  margin: 0 0 0 10%;
  font-weight: bold;
}

.exps .exp-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exps .exp-cards .card {
  width: 15rem;
  height: 10rem;
  border: 1px solid #8e44ad;
  -webkit-box-shadow: 0 0 8px #9b59b6;
          box-shadow: 0 0 8px #9b59b6;
  border-radius: 3px;
  margin: 30px 50px;
  position: relative;
}

.exps .exp-cards .card h1 {
  text-align: center;
}

.exps .exp-cards .card a {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #c0392b;
  padding: 5px 20px;
  color: #c0392b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 6px #ff7675;
          box-shadow: 0 0 6px #ff7675;
  -webkit-box-shadow: 0 0 5px #ff7675;
          box-shadow: 0 0 5px #ff7675;
}

.exps .exp-cards .card a:hover {
  color: aliceblue;
  background: #c0392b;
  -webkit-box-shadow: 0 0 10px #ff7675;
          box-shadow: 0 0 10px #ff7675;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#a82b2b));
  background: linear-gradient(white, #a82b2b);
}

.footer .footer-heading {
  padding: 40px 0 0 0;
  text-align: center;
  background: transparent;
  mix-blend-mode: darken;
}

.footer .footer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-cards .card {
  margin: 30px 50px;
  width: 20rem;
}

.footer .footer-cards .card h3 {
  padding: 10px 0;
}

@media (max-width: 768px) {
  .exp-cards {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}
/*# sourceMappingURL=style.css.map */